= link_to "Back", articles_path, class: 'btn btn-info mb-3'
.field.mb-5
	%p.text-decoration-underline Headline
	%h1.mb-5= @article.headline
	%p.text-decoration-underline Content
	%p= @article.content
	%br
	%p.text-decoration-underline Tags
	- @article.tags.each do |f|
		= f.tag_body
= link_to "Edit", edit_article_path(@article), class: 'btn btn-warning mb-3'
= button_to "Delete", article_path(@article), method: :delete, class: 'btn btn-danger'

