%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    = link_to 'Home', root_path, class: 'nav-link'
    %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNav", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse.justify-content-between
      %ul.navbar-nav
        %li.nav-item
          = link_to 'Articles', articles_path, class: 'nav-link'
        %li.nav-item
          %a.nav-link{:href => "#"} Pricing
        %li.nav-item
          %a.nav-link.disabled{"aria-disabled" => "true", :href => "#", :tabindex => "-1"} Disabled
      %ul.navbar-nav
        - if current_user
          %li.nav-item
            = link_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-success'
        - else
          %li.nav-item.me-3
            = link_to 'Sign in', user_session_path, class: 'btn btn-success'
          %li.nav-item
            = link_to 'Sign up', new_user_registration_path, class: 'btn btn-info'  